<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/tabel.css" rel="stylesheet" type="text/css">
    <script>
        function postunit1() {
            document.getElementById("units").submit()
        }
    </script>
    <style type="text/css">
        #cc{
            position: absolute;
            left: 1100px;
            top: 10px;
        }
    </style>
</head>
<body>
    <h1>作者排名分析</h1>
    <h2 align="center">{{ unit }}  {{ esi }}</h2>
    <h3 align="left">选择二级单位与ESI学科</h3>
    <form id="units" action="#" method="post">
        <select name="selunit" onchange="postunit()" type="select" data-inline="true">
            {% for u in units %}
                <option selected="selected" value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
        <select id="selesi" name="selesi" onchange="postunit1()" type="select" data-inline="true">
            {% for u in esis %}
                <option value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
    <span  id="cc" style="width:100px ">

        <a href="./static/download/csvFile2.csv" target="_self">
            <img src="static/imgs/save.png" width="20px" height="20px"  />
        </a>
    </span>
    </form>
    <hr/>
    <table class="GridBackColor">
        <tbody>
            <tr class="GridHeadBackColor">
                <td>
                    <a>排名</a>
                </td>
                <td>
                    <a>名称</a>
                </td>
                <td>
                    <a>论文篇数(篇)</a>
                </td>
                <td>
                    <a>被引频次(次)</a>
                </td>
                <td>
                    <a>国际合作论文篇数(篇)</a>
                </td>
            </tr>
            {% for i,j,k,l,m,n,o in staffs %}
            <tr onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
                <td style="width:100px;">
                    {{ i }}
                </td>
                <td>
                    {{ k }} ({{ j }})
                </td>
                <td>
                    {{ m }}
                </td>
                <td>
                    {{ n }}
                </td>
                <td>
                    {{ o }}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</body>
</html>