<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="/static/css/tabel.css" rel="stylesheet">
    <script>
        function postmonth1() {
            document.getElementById("year").submit()
        }
    </script>
    <style type="text/css">
        #cc{
            position: absolute;
            left: 1100px;
            top: 10px;
        }
    </style>
</head>
<body>
    <h1>引用关系</h1>
    <h2 align="center">{{ searchYear }}&nbsp;&nbsp;&nbsp; {{ month1 }}&nbsp; ~&nbsp; {{ month2 }}</h2>
    <form id="year" action="#" method="post">
        年份：<select name="selyear" onchange="postyear()" style="width: 75px">
            {% for y in year %}
                <option value={{ y }}>{{ y }}年</option>
            {% endfor %}
        </select>
        月份：<select name="month1" onchange="postmonth()" type="select" data-inline="true">
            {% for u in month11 %}
                <option selected="selected" value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
        ~<select name="month2" onchange="postmonth1()" type="select" data-inline="true">
            {% for u in month %}
                <option selected="selected" value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
        <span  id="cc" style="width:100px ">

        <a href="./static/download/csvFile2.csv" target="_self">
            <img src="static/imgs/save.png" width="20px" height="20px"  />
        </a>
        </span>
    &nbsp;&nbsp;&nbsp;
        标题总数：{{ b }}&nbsp;&nbsp;&nbsp;
        被引标题总数：{{ a }}
    &nbsp;&nbsp;&nbsp;
    </form>
    <hr/>
    <table class="GridBackColor">
        <tbody>
            <tr class="GridHeadBackColor">
                <td>
                    <a>标题</a>
                </td>
                <td>
                    <a>被引标题</a>
                </td>
            </tr>

            {% for paper in paper_pair %}
                {% for line in paper %}
                    <tr onmousemove="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
                        <td>
                            {{ line.REFERENCE_TITLE }}
                        </td>
                        <td>
                            {{ line.TITLE }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

        </tbody>
    </table>
</body>
</html>