<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/tabel.css" rel="stylesheet" type="text/css">
    <script>
        function postunit1() {
            document.getElementById("units").submit()
        }
    </script>
</head>
<body>
    <h1>合作论文分布</h1>
    <h2 align="center">{{ unit }} {{ esi }}</h2>
    <h3 align="left">选择二级单位与ESI学科</h3>
    <form id="units" action="#" method="post">
        <select name="selunit" onchange="postunit()" type="select" data-inline="true">
            {% for u in units %}
                <option value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
        <select name="selesi" onchange="postunit1()" type="select" data-inline="true">
            {% for u in esis %}
                <option value={{ u }}>{{ u }}</option>
            {% endfor %}
        </select>
    </form>
    <hr/>
    <table class="GridBackColor">
        <tbody>
            <tr class="GridHeadBackColor">
                <td style="width: 300px">
                    <a>合作类型</a>
                </td>
                <td>
                    <a>论文篇数(篇)</a>
                </td>
                <td>
                    <a>被引频次(次)</a>
                </td>
                <td>
                    <a>篇均被引(次/篇)</a>
                </td>
            </tr>
            {% for i,j,k,l in coo %}
            <tr onmouseover="javascript:this.bgColor='#C7F8AE';" onmouseout="javascript:this.bgColor='#ffffff';" bgcolor="#ffffff">
                <td style="width:100px;">
                    {{ i }}
                </td>
                <td>
                    {{ j }}
                </td>
                <td>
                    {{ k }}
                </td>
                <td>
                    {{ l }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>